<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Dashboard</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        h1 {
            color: #6c757d;
        }

        li {
            color: #343a40;
        }

        .form-group {
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #0d6efd;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Dashboard</h1>
    {% for user in users %}
        <li>Username: {{ user }}</li>
    {% endfor %}

    <h1>Import data from Google Docs</h1>
    <form action="/import-data" class="form-group" method="POST">
        {#    Select group    #}
        <select name="group" id="group" class="form-select">
            {% for sheet in sheets %}
                <option value="{{ sheet }}"> {{ sheet }}</option>
            {% endfor %}
        </select>
        <input type="file" name="file" id="file" class="form-control">
        <button type="submit" class="btn btn-primary">Import</button>
    </form>

    <form action="/dashboard" method="get" class="mt-5">
        <select name="sheet_name" id="sheet_name" class="form-select">
            {% for sheet in sheets %}
                <option value="{{ sheet }}">{{ sheet }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mt-3">View Sheet</button>
    </form>

    {% if sheet %}
    <div class="mt-5">
        <h1>Sheet Content</h1>
        <table class="table">
            <thead>
            <tr>
                <th>UID</th>
                <th>TÊN</th>
                <th>LINK</th>
                <th>NGÀY/ THÁNG CÀO</th>
                <th>Unnamed: 5</th>
                <th>SỐ LƯỢNG</th>
                <th>GHI CHÚ</th>
            </tr>
            </thead>
            <tbody>
            {% for row in sheet.content %}
                <tr>
                    {% if row is mapping %}
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    {% else %}
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData
            }).then(response => {
                const contentType = response.headers.get('content-type');
                if (contentType && contentType.indexOf('application/json') !== -1) {
                    return response.json().then(data => console.log(data));
                } else {
                    console.log('Oops, we haven\'t got JSON!');
                }
            });
        });
    });
</script>
</body>
</html>